<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div id="fh5co-page">
    <div class="container">
        <div class="header-inner">
            <h1><%= title %></h1>
        </div>
        <div class="fh5co-contact" style="background-image: url('images/bg.jpg');">
            <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0" id="contactUs">
                <form method="post" action="/" enctype="application/x-www-form-urlencoded">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="pages">Enter URL to crawl: </label>
                                <input class="form-control" name="url" placeholder="http://yourwebsite.com" type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="pages">PageCounts: </label>
                                <input class="form-control" id="pages" name="pages" placeholder="10" type="number">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="#btnSendInq">&nbsp;</label>
                                <input type="submit" id="#btnSendInq" class="btn btn-primary btn-outline "
                                       style="float: right; vertical-align: middle;"
                                       value="Crawl Me">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
